* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*---------------------------------------------------------------------------------------------------------*/
/* seção topo */
/*---------------------------------------------------------------------------------------------------------*/

.topo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    padding: 47.5px 0px;
    background-color: #5A7D77;
    color: #fff;
    text-align: center;
    z-index: 100;
}

.topo h1 {
    font-size: 36px; /* Fonte do texto h1 */
}

/*---------------------------------------------------------------------------------------------------------*/
/* seção informação */
/*---------------------------------------------------------------------------------------------------------*/

.informacao {
    background-color: #C1B8B1;
    max-width: 1024px;
    margin: 170px auto 0px auto;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0.5px;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.informacao p,
.conteiner p {
    padding: 0 20px;
}

.informacao p span {
    font-weight: bold;
}

/*---------------------------------------------------------------------------------------------------------*/
/* seção conteúdo */
/*---------------------------------------------------------------------------------------------------------*/

.conteudo {
    max-width: 1024px;
    margin: 20px auto;
    padding: 0 20px 20px 20px;
    background-color: #EBEBEB;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0.5px;

    display: flex;
    flex-flow: column wrap;
}

.conteiner h2 {
    font-size: 22px;
    padding: 20px 0;
}

.conteiner h3 {
    font-size: 18px;
    padding: 15px 20px;
}

/* Os links são botões que criam área de cálculo */
/*-----------------------------------------------*/
.conteiner p a {
    text-decoration: none;
}

.conteiner p a:hover {
    border-radius: 6px;
    padding: 3px;
    background-color: #5A7D77;
    color: #fff;
}
/*-----------------------------------------------*/

#label {
    width: 100px;
    padding: 0 5px;
}

#numero1,
#numero2
{width: 150px; margin: 0 5px; padding: 2px; text-align: center;}

.conteiner p span {
    font-weight: bold;
}

.conteiner ul {
    padding: 10px 80px;
}

p {
    text-align: justify;
    font-size: 15px; /* Usar valor padrão para todos os parágrafos */
    line-height: 30px;
}

/*---------------------------------------------------------------------------------------------------------*/
/* seção rodapé */
/*---------------------------------------------------------------------------------------------------------*/

footer {
    width: 100%;
    background-color: #5A7D77;
    color: #fff;
    padding: 15px 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.paragrafo-rodape {
    line-height: 20px;
}

.paragrafo-rodape span {
    font-style: italic;
}